body{
    font-family: 'Concert One';
    color: #FFF2E7;
    background-color: #2F2325;
}
h1{
    color: white;
    font-size: 3.3em;
}
h2, label, p{
    font-size: 1.4em;
    color: #FFF2E7;
}
p{
    display: inline;
}
button{
    background: #FFF2E7;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    font-family: 'Concert One';
    color: #2F2325;
    font-size: 1.5em;
    display: flex;
}
input{
    display: inline-flex;
    padding: 10px;
    width: 60%;

    margin: 2%;
    background: rgba(255, 242, 231, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
form > div {
    margin: 5%;
    align-items: center;
}

/* CONTEUDO DA PÃGINA*/
.content{
    width: 80%;
    background-color: #483636;

    border: 2px solid #FFF2E7;
    box-sizing: border-box;
    border-radius: 20px;

    margin: 0 auto;
}

/* FLEXBOX */
.flex {
    display: flex;
    flex-wrap: wrap;
}
.flex > div{
    flex: 1 1 245px;
    padding: 10px;
}

/* CONTEUDO DA FLEXBOX */
.column{
    text-align: center;
} 
.column input{
    margin: 0 auto;
}
.column button{
    margin: 0 auto;
}
.input-column{
    border-right: 1px solid #FFF2E7 ;
}

/* RESULTADO */
.campo{
    color: #97D4D9;
}
.dados{
    color: #EFC764;
}
.pessoa{
    text-align: left;

}
#resultados{
    padding: 15px;
    padding-top: 0%;
    text-align: left;
}


@media (max-width: 600px) {
    .input-column{
        border-right: 0px;
        border-bottom: 1px solid #FFF2E7 ;
    }
    p{
        font-size: 1em;
    }
}